.hi {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
/*   font-weight: <weight>; */
  font-style: normal;
margin: 30;
}

.text {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
/*   font-weight: <weight>; */
  font-style: normal;
}

.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
/*   font-weight: <weight>; */
  font-style: normal;
}

body {
  background-color: rgba(135, 206, 235);
  background-repeat: no-repeat;
  background-size: cover;
  color: Black;
  font-size: 33px !important;
  margin: 0;
}

#box3 {
  font-size: 37px !important;
margin-bottom: 30;
  margin-top: 30;
  text-align: center;
}

button {
  font-size: 50px !important;
  background: rgba(0, 0, 128);
  color: white;
  border: none;
  padding: 20px;
  width: 100vw;
font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
/*   font-weight: <weight>; */
  font-style: normal;
margin-bottom: 30
}

canvas {
  width: 1080px;
  height: 720px;
  background-repeat: no-repeat;
}
